/* 

  C15 C16 C17 C18 C19 C20 C21 C22 C23 C24 C25 C26 C27 C28 C29 C30 C31 5V0 AD0 AD1
  |                                                                             |
  |                                                                             |
  |                                                                             |
  |                                                                             |
  |                                                                             |
  |                                                                             |
  CLK C00 C01 C02 C03 C04 C05 C06 C07 C08 C09 C10 C11 C12 C13 C14 3V3 GND 1V2 RST
	
CHAN-CLK 	T7  BL   GCLK
CHAN0 		R7  --   GCLK
-----
CHAN1 		R15 RB
CHAN2 		R16 --
CHAN3 		M15 RB
CHAN4 		M16 --
CHAN5 		K15 RB
CHAN6 		K16 --
CHAN7 		J16 RB   GCLK
CHAN8 		J14 --   GCLK
-----
CHAN9 		F15 RT
CHAN10 		F16 --
CHAN11 		C16 RT
CHAN12 		C15 --
CHAN13 		B16 RT
CHAN14 		B15 --
------
CHAN15 		T4  BL   Not a pair
------
CHAN16 		R2  LB +
CHAN17 		R1  -- -
CHAN18 		M2  LB +
CHAN19 		M1  -- -
CHAN20 		K3  LB + GCLK
CHAN21 		J4  -- - GCLK
CHAN22 		H1  LB -
CHAN23 		H2  -- +
CHAN24 		F1  LB + GCLK
CHAN25 		F2  -- - GCLK
------
CHAN26 		E1  LT
CHAN27 		E2  --
CHAN28 		C1  LT
CHAN29 		B1  --
CHAN30 		B2  LT
CHAN31 		A2  --
*/

NET io_h1    LOC=t7  | SLEW=FAST ; // CHAN-CLK
NET io_h2    LOC=r7  | SLEW=FAST ; // CHAN0
NET io_xvt1  LOC=r15 | SLEW=FAST ; // CHAN1  | IOSTANDARD=LVTTL | DRIVE=24 | SLEW=SLOW
NET io_xvt2  LOC=r16 | SLEW=FAST ; // CHAN2  | IOSTANDARD=LVTTL | DRIVE=24 | SLEW=SLOW
NET io_xvt3  LOC=m15 | SLEW=FAST ; // CHAN3  | IOSTANDARD=LVTTL | DRIVE=24 | SLEW=SLOW
NET io_xvt4  LOC=m16 | SLEW=FAST ; // CHAN4  | IOSTANDARD=LVTTL | DRIVE=24 | SLEW=SLOW
NET io_yvt2  LOC=k15 | SLEW=FAST ; // CHAN5  | IOSTANDARD=LVTTL | DRIVE=24 | SLEW=SLOW
NET io_yvt3  LOC=k16 | SLEW=FAST ; // CHAN6  | IOSTANDARD=LVTTL | DRIVE=24 | SLEW=SLOW
NET io_hl    LOC=j16 | SLEW=FAST ; // CHAN7
NET io_rg    LOC=j14 | SLEW=FAST ; // CHAN8
NET io_thsub LOC=f15 | SLEW=FAST ; // CHAN9  | IOSTANDARD=LVTTL | DRIVE=24 | SLEW=SLOW

NET io_ping  LOC=f16 | SLEW=FAST ; // CHAN10 
NET io_clock LOC=c16 | SLEW=FAST ; // CHAN11 (clk)

// 12,13,14,26,27,28,29,30,31   // 10 pins left or so

// LB
NET io_a0p   LOC=r2 | DIFF_TERM=TRUE | IOSTANDARD=LVDS_25 ; // CHAN16
NET io_a0n   LOC=r1 | DIFF_TERM=TRUE | IOSTANDARD=LVDS_25 ; // CHAN17
NET io_a1p   LOC=m2 | DIFF_TERM=TRUE | IOSTANDARD=LVDS_25 ; // CHAN18
NET io_a1n   LOC=m1 | DIFF_TERM=TRUE | IOSTANDARD=LVDS_25 ; // CHAN19
NET io_t0p   LOC=k3 | DIFF_TERM=TRUE | IOSTANDARD=LVDS_25 ; // CHAN20 (clk)
NET io_t0n   LOC=j4 | DIFF_TERM=TRUE | IOSTANDARD=LVDS_25 ; // CHAN21 (clk)
NET io_b0p   LOC=h2 | DIFF_TERM=TRUE | IOSTANDARD=LVDS_25 ; // CHAN22
NET io_b0n   LOC=h1 | DIFF_TERM=TRUE | IOSTANDARD=LVDS_25 ; // CHAN23
NET io_b1p   LOC=f2 | DIFF_TERM=TRUE | IOSTANDARD=LVDS_25 ; // CHAN24
NET io_b1n   LOC=f1 | DIFF_TERM=TRUE | IOSTANDARD=LVDS_25 ; // CHAN25



NET fpgaClk_i  LOC = A9 ;    # 12 MHz clock input.
NET fpgaClk_i  TNM_NET = "fpgaClk_i" ;
TIMESPEC "TSfpgaClk_i" = PERIOD "fpgaClk_i" 16 MHz HIGH 50% ;

